.vim/.netrwhist
.vim/plugins/
.vim/init.vim
.*swp
.config/i3/bin/layout.txt
.vimperator/info
.vim/tags
__pycache__
.config/coc/*
!.config/coc/extensions
.config/coc/extensions/*
!.config/coc/extensions/package.json
